
.logo {
    position: relative;
    display: inline;
}
.nav_container {
    height: 10vh;
    width: 100vw;
    background-color: #858BA9;
    position: relative;
}
.nav_div {
    width: 75%;
    position: absolute;
    bottom: 0;
}
.nav_ul {
    width: 100%;
    margin: 0;
    padding: 0;
}
.nav_li {
    position: relative;
    font-size: 1vw;
    list-style-type: none;
    box-sizing: border-box;
    padding: 1% 4%;
    margin: 0 2%;
    border: 1px solid white;
    border-bottom: none;
    /*background-color: white;*/
}
.nav_li a, a:hover, a:visited {
    color: white;
    text-decoration: none;
}

.nav_div, .nav_li, .nav_ul {
    display: inline-block;
}
@media screen and (max-width: 1000px) {
    .nav_container{
        width: 100vw;
        height: 15vw;
        margin: 0;
    }
    .logo {
        width: 30%;
    }
    .nav_div {
        display: block;
        width: 100%;
    }
    .nav_li {
        font-size: 1em;
        margin: 0;
        padding: 1% 3%;
    }

}
@media screen and (max-width: 414px) {
    .nav_container {
        width: 100vw;
        height: 20vw;
        margin: 0;
    }
    .logo {
        width: 50%;

    }
    .nav_div {
        display: block;
        width: 100%;
    }
    .nav_li {
        font-size: 1em;
        margin: 0;
        padding: 1% 3%;
    }

}